// ---------------------------------------------------------------------------
// Imports

@import "susy";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 5;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : 0;

$grid-background-column-color   :   rgba(0, 150, 255, .1);
$show-grid-backgrounds  : true;

.container {
  @include container;
  @include susy-grid-background;
  h1, h2, p { text-align: center; }
  ul { margin-left: 4.5em; }

  @include at-breakpoint(8) {
    @include set-container-width;
    @include susy-grid-background;

  }
  @include at-breakpoint(12) {
    @include set-container-width;
    @include susy-grid-background;
    h1, h2, p { text-align: inherit; }
  }
  @include at-breakpoint(16) {
    @include set-container-width;
    @include susy-grid-background;
  }
}
